<h2>Edit Tags</h2>
<form class='form-horizontal' method='post'>
	<div class='form-group'>
		<label for='file-input' class='col-lg-1 control-label'>Tags</label>
		<div class='col-lg-3'>
			<input type='text' name='tags' value='{{tags}}'>
		</div>
	</div>
	<div class='form-group'>
		<div class='col-lg-offset-1 col-lg-3'>
			<input type='submit' class='btn btn-warning' value='Edit'>
		</div>
	</div>
</form>